# Project
.idea/
.vscode/
.code-workspace

# Environment
.venv/
.env
venv/
docker-compose.yml

# Cache
__pycache__/
*.py[cod]
.cache/
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage/

# Build
build/
_build/
dist/
site/
*.egg-info/
*.egg
