# - - - - - TELEGRAM BOT SETTINGS - - - - - #

# Localization languages. Avoid spaces between entries. The order determines language priority.
# For the full list of locales, refer to aiogram_bot_template/enums/locale.py
TELEGRAM_LOCALES=uk,en

# Telegram bot token, obtainable via https://t.me/BotFather
TELEGRAM_BOT_TOKEN=42:ABC

# Drop old updates when the bot was inactive (True/False)
TELEGRAM_DROP_PENDING_UPDATES=False

# Webhook configuration
TELEGRAM_USE_WEBHOOK=False
TELEGRAM_RESET_WEBHOOK=True
TELEGRAM_WEBHOOK_PATH=/telegram
TELEGRAM_WEBHOOK_SECRET=123456abcdef

# - - - - - POSTGRESQL SETTINGS - - - - - #

# Host (default is the Docker container name)
POSTGRES_HOST=postgres

# Database password
POSTGRES_PASSWORD=my_pg_password

# Database name
POSTGRES_DB=my_db_name

# Port (default: 5432)
POSTGRES_PORT=5432

# Username
POSTGRES_USER=my_pg_user

# Path to PostgreSQL data for Docker volumes
POSTGRES_DATA=/var/lib/postgresql/data

# - - - - - SQLALCHEMY SETTINGS - - - - - #
ALCHEMY_ECHO=False
ALCHEMY_ECHO_POOL=False
ALCHEMY_POOL_SIZE=25
ALCHEMY_MAX_OVERFLOW=50
ALCHEMY_POOL_TIMEOUT=10
ALCHEMY_POOL_RECYCLE=3600

# - - - - - REDIS SETTINGS - - - - - #

# Host (default is the Docker container name)
REDIS_HOST=redis

# Port (default: 6379)
REDIS_PORT=6379

# Database (0 if using only a single database)
REDIS_DB=0

# Redis password
REDIS_PASSWORD=12345abcdef

# Path to Redis data for Docker volumes
REDIS_DATA=/redis_data

# - - - - - SERVER SETTINGS - - - - - #
SERVER_HOST=0.0.0.0
SERVER_PORT=8080
SERVER_URL=https://my.server.com

# - - - - - OTHER SETTINGS - - - - - #

# Bot admin chat id.
# Used for admin commands in package "bot/handlers/admin" package.
# Both private and group chats are allowed.
COMMON_ADMIN_CHAT_ID=5945468457
