[Unit]
Description=My Telegram Bot
After=network.target redis.service

[Service]
Type=simple
WorkingDirectory=/absolute_path/to/your/working/directory
ExecStart=poetry run python -O -m aiogram_bot_template
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
